<div class="etop eight-twelfths grid-item"></div>
<div class="four-twelfths grid-item">
    <div class="grid">
        <div class="stats one-whole grid-item"></div>
        <div class="proc-info one-whole grid-item"></div>
    </div>
</div>
